.list-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.list-wrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.list-search {
    flex: 1;
    background-color: #4fc1b1;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.list-title {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.list-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.list-item > label {
    font-size: 12px;
}

.list-item > input {
    height: 30px;
    border: none;
    padding: 5px;  
}

.list-item > span {
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;  
}

.list-options {
    padding: 10px;
}

.list-option-input {
    width: 50px;
}

.list-option-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
}

.list-search > button {
    padding: 10px;
    background-color: #ed9d62;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.list-result {
    flex: 3;
}

